.btn-check {
    color: #252525;
    font-size: 5.5;
    font-weight: 200;
    width: 22;
    height: 22;
    border-radius: 100;
    background-color: rgba(0, 0, 0, 0.32);
    padding: 6;
}

.btn-removable {
    color: #fff;
    font-size: 5;
    width: 16;
    height: 16;
    border-radius: 100;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4;
}

.chip-text {
    font-size: 12;
    font-weight: 500;
    color: #252525;
    margin: 6;
}
