/* Add mobile styles for the component here.  */
.list-group {
    margin: 1% 1%;
}

.list-group-item {
    background-color: #fff;
    padding: 5% 5%;
}

.action-item {
    color: #fff;
    font-size: 13;
    font-weight: 500;
    margin: 6 0;
}

.item-title {
    font-size: 16;
    color: #000;
}

.item-subtitle {
    font-size: 13;
}
