/* Add mobile styles for the component here.  */
.list-group {
    margin: 1% 4%;
}

.list-group-item {
    background-color: #fff;
    padding: 5% 10%;
    &__date {
        &--ios {
            font-size: 17;
            color: #000;
        }
        &--android {
            font-size: 16;
            color: #000;
        }
    }
    &__type {
        &--ios {
            font-size: 13;
        }
        &--android {
            font-size: 12;
        }
    }
    &__status {
        padding-left: 9em;
        padding-right: 9em;
        color: #ffffff;
        border-radius: 15em;
        &--ios {
            font-size: 12;
        }
        &--android {
            font-size: 11;
        }
    }
    .bg-warning {
        background-color: rgb(237, 177, 27);
    }
    .bg-success {
        background-color: #5ec232;
    }
}
