/* Add mobile styles for the component here.  */
.list-group {
    margin: 1% 4%;
}

.list-group-item {
    background-color: #fff;
    padding: 5% 10%;
    &__status {
        padding-left: 9em;
        padding-right: 9em;
        color: #ffffff;
        border-radius: 15em;
    }
}
