/* Add mobile styles for the component here.  */
.list-group {
    margin: 1% 3%;
}

.list-group-item {
    background-color: #fff;
    padding: 5% 8%;
    &__status {
        text-align: center;
        color: #ffffff;
        border-radius: 15em;
    }
}
