<ActionBar title="Leave Approval Detail">
</ActionBar>




<ScrollView>
    <StackLayout orientation="vertical">
        <GridLayout rows="auto, auto" class="m-t-20 m-x-20">
            <Label row="0" text="ID" fontSize="15" fontWeight="500"></Label>
            <Label row="1" [text]="data.employee_id" fontSize="13"></Label>
        </GridLayout>
        <StackLayout class="m-x-20">
            <StackLayout class="hr" backgroundColor="#E4E4E4" height="2">
            </StackLayout>
        </StackLayout>

        <GridLayout rows="auto, auto" class="m-t-5 m-x-20">
            <Label row="0" text="Name" fontSize="15" fontWeight="500"></Label>
            <Label row="1" [text]="data.employee_name" fontSize="13"></Label>
        </GridLayout>
        <StackLayout class="m-x-20">
            <StackLayout class="hr" backgroundColor="#E4E4E4" height="2">
            </StackLayout>
        </StackLayout>

        <GridLayout rows="auto, auto" class="m-t-5 m-x-20">
            <Label row="0" text="Designation" fontSize="15" fontWeight="500"></Label>
            <Label row="1" [text]="data.designation" fontSize="13"></Label>
        </GridLayout>
        <StackLayout class="m-x-20">
            <StackLayout class="hr" backgroundColor="#E4E4E4" height="2">
            </StackLayout>
        </StackLayout>

        <GridLayout rows="auto, auto" class="m-t-5 m-x-20">
            <Label row="0" text="Leave Type" fontSize="15" fontWeight="500"></Label>
            <Label row="1" text="{{data.type}}({{data.leave_type_code}})" fontSize="13" textWrap="true"></Label>
        </GridLayout>
        <StackLayout class="m-x-20">
            <StackLayout class="hr" backgroundColor="#E4E4E4" height="2">
            </StackLayout>
        </StackLayout>

        <GridLayout rows="auto, auto" class="m-t-5 m-x-20">
            <Label row="0" text="Start Date" fontSize="15" fontWeight="500"></Label>
            <Label row="1" [text]="data.startDate" fontSize="13"></Label>
        </GridLayout>
        <StackLayout class="m-x-20">
            <StackLayout class="hr" backgroundColor="#E4E4E4" height="2">
            </StackLayout>
        </StackLayout>

        <GridLayout rows="auto, auto" class="m-t-5 m-x-20">
            <Label row="0" text="End Date" fontSize="15" fontWeight="500"></Label>
            <Label row="1" [text]="data.endDate" fontSize="13" textWrap="true"></Label>
        </GridLayout>
        <StackLayout class="m-x-20">
            <StackLayout class="hr" backgroundColor="#E4E4E4" height="2">
            </StackLayout>
        </StackLayout>

        <GridLayout rows="auto, auto" class="m-t-5 m-x-20">
            <Label row="0" text="Half-day Leave" fontSize="15" fontWeight="500"></Label>
            <Label row="1" [text]="data.half_type_description" fontSize="13" textWrap="true"></Label>
        </GridLayout>
        <StackLayout class="m-x-20">
            <StackLayout class="hr" backgroundColor="#E4E4E4" height="2">
            </StackLayout>
        </StackLayout>

        <GridLayout rows="auto, auto" class="m-t-5 m-x-20">
            <Label row="0" text="Duration" fontSize="15" fontWeight="500"></Label>
            <Label row="1" text="{{data.duration}} day(s)" fontSize="13" textWrap="true"></Label>
        </GridLayout>
        <StackLayout class="m-x-20">
            <StackLayout class="hr" backgroundColor="#E4E4E4" height="2">
            </StackLayout>
        </StackLayout>

        <GridLayout rows="auto, auto" class="m-t-5 m-x-20">
            <Label row="0" text="Reason" fontSize="15" fontWeight="500"></Label>
            <Label row="1" [text]="data.remark || '-'" fontSize="13" textWrap="true"></Label>
        </GridLayout>
        <StackLayout class="m-x-20">
            <StackLayout class="hr" backgroundColor="#E4E4E4" height="2">
            </StackLayout>
        </StackLayout>

        <GridLayout rows="auto, auto" class="m-t-5 m-x-20">
            <Label row="0" text="Approver Comment" fontSize="15" fontWeight="500"></Label>
            <Label row="1" text="Please write any comment here" fontSize="13" textWrap="true"
                *ngIf="!resetShow"></Label>
            <Label row="1" [text]="textArea ||  '-'" fontSize="13" textWrap="true" *ngIf="resetShow"></Label>
        </GridLayout>

        <PreviousNextView>
            <StackLayout *ngIf="!resetShow">
                <TextView hint="Add a comment" returnKeyType="done" [text]="textArea"
                    (textChange)="onTextChange($event)" backgroundColor="#fafafa" class="text-area">
                </TextView>
            </StackLayout>
        </PreviousNextView>
        <GridLayout rows="*" columns="1*, 3*" class="m-y-20">
            <GridLayout col="1" rows="*" columns="*, *">
                <Button col="0" text="Approve" (tap)="onApprove('2')"
                    class="btn -rounded-sm {{approvalDisabled ? '-disabled' : '-gray-primary'}}" *ngIf="!resetShow"
                    [isUserInteractionEnabled]="!approvalDisabled"></Button>
                <Button col="1" text="Reject" (tap)="onApprove('3')"
                    class="btn -rounded-sm {{approvalDisabled ? '-disabled' : '-primary'}}" *ngIf="!resetShow"
                    [isUserInteractionEnabled]="!approvalDisabled"></Button>
                <Button col="1" text="Reset" (tap)="onReset()"
                    class="btn -rounded-sm {{resetDisabled ? '-disabled' : '-primary'}}" *ngIf="resetShow"
                    [isUserInteractionEnabled]="!resetDisabled"></Button>
            </GridLayout>
        </GridLayout>

    </StackLayout>
</ScrollView>