@import "./dashboard.component.common.scss";

.clip-path {
    clip-path: circle(146% at 75% 18%);
}

.employee-pic {
    margin-top: 20%;
}

.employee-position {
    font-size: 14;
    color: #fff;
}
