.profile-section {
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(139, 0, 19, 1) 0%, rgba(237, 27, 52, 1) 100%);
    vertical-align: top;
    height: 300;

    .employee-pic {
        width: 100;
    }

    .employee-section-panel {
        margin-top: 3%;
        .employee-name {
            font-size: 19;
            font-weight: bold;
            color: #fff;
        }
    }
}

.clip-path {
    background: #efefef;
    height: 1000;
    width: 1100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.chart-label {
    vertical-align: center;
    .chart-title {
        horizontal-align: center;
        color: #313337;
        font-size: 12;
        font-weight: bold;
    }

    .chart-subtitle {
        horizontal-align: center;
        font-weight: bold;
        color: #656565;
        font-size: 14;
    }
}

.legend {
    color: #000;
    vertical-align: bottom;
    margin-top: 80%;
    font-size: 13pt;
    font-weight: 500;
}

.scroll-menu {
    height: 200;
    padding: 0;
}

.scroll-pane {
    width: 140;
    height: 150;
}
