@import "./dashboard.component.common.scss";

.clip-path {
    clip-path: circle(145% at 75% 17%);
}

.employee-pic {
    margin-top: 10%;
}

.employee-position {
    font-size: 12;
    color: #fff;
}
