.profile-section {
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(139, 0, 19, 1) 0%, rgba(237, 27, 52, 1) 100%);
  vertical-align: top;
  height: 250;

  .employee-pic {
    width: 120;
    margin-top: 20;
  }

  .employee-section-panel {
    margin-top: 3%;
    .employee-name {
      font-size: 18;
      font-weight: bold;
      color: #fff;
    }

    .employee-position {
      font-size: 13;
      color: #fff;
    }
  }
}

.clip-path {
  clip-path: circle(145% at 75% 21%);
  background: #efefef;
  height: 1000;
  width: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.chart-label {
  vertical-align: center;
  .chart-title {
    horizontal-align: center;
    color: #313337;
    font-size: 12;
    font-weight: bold;
  }

  .chart-subtitle {
    horizontal-align: center;
    font-weight: bold;
    color: #656565;
    font-size: 14;
  }
}

.legend {
  color: #000;
  vertical-align: middle;
  margin-top: 80%;
  font-size: 13pt;
  font-weight: 500;
}

.scroll-menu {
  height: 200;
  padding: 0;
}

.scroll-pane {
  width: 140;
  height: 150;
}
