<FlexboxLayout>
    <GridLayout ios:rows="2*, auto, 5*" android:rows="3*, auto, 5*">
        <StackLayout row="0" class="profile-section" android:height="300">
            <Image class="employee-pic" [src]="ProfileImage"></Image>
            <GridLayout rows="1*, 1*" horizontalAlignment="center" class="employee-section-panel">
                <Label row="0" [text]="Name" textWrap="true" class="employee-name" horizontalAlignment="center"></Label>
                <Label row="1" [text]="JobPosition" textWrap="true" class="employee-position"></Label>
            </GridLayout>
        </StackLayout>
        <AbsoluteLayout row="1" ios:height="30" android:height="55" horizontalAlignment="center">
            <StackLayout width="100%" height="55" backgroundColor="#8b0013">
            </StackLayout>
            <StackLayout top="30" class="clip-path" horizontalAlignment="center"></StackLayout>
        </AbsoluteLayout>



        <StackLayout row="2" android:backgroundColor="#efefef">
            <ActivityIndicator [busy]="processing" *ngIf="processing"></ActivityIndicator>
            <GridLayout rows="2*, 3*">
                <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
                    <StackLayout row="0" orientation="horizontal" class="scroll-menu">
                        <GridLayout class="scroll-pane" *ngFor="let item of LeaveBalances">
                            <RadPieChart allowAnimation="true" row="0" backgroundColor="transparent">
                                <DonutSeries tkPieSeries seriesName="myPieSeries" startAngle="-90" endAngle="270"
                                    outerRadiusFactor="0.8" innerRadiusFactor="0.6" valueProperty="amount"
                                    [items]="item.pieSource">
                                </DonutSeries>
                                <Palette tkPiePalette seriesName="myPieSeries">
                                    <PaletteEntry tkPiePaletteEntry strokeWidth="29" fillColor="#F44334"
                                        strokeColor="#F44334">
                                    </PaletteEntry>
                                    <PaletteEntry tkPiePaletteEntry strokeWidth="29" fillColor="#D8D8D8"
                                        strokeColor="#D8D8D8">
                                    </PaletteEntry>
                                </Palette>
                            </RadPieChart>
                            <StackLayout row="0" class="chart-label">
                                <Label class="chart-title" text='{{item.balance}}/{{item.entitle}}'></Label>
                                <Label class="chart-subtitle" text="Days"></Label>
                            </StackLayout>
                            <StackLayout row="0" class="legend" horizontalAlignment="center">
                                <Label [text]="item.leave_type_description" textWrap="true"></Label>
                            </StackLayout>
                        </GridLayout>

                    </StackLayout>
                </ScrollView>


                <GridLayout row="1" ios:rows="auto, auto" android:rows="*, auto" android:class="m-t-10">
                    <app-leave-listview [items]="LeaveHistories"></app-leave-listview>
                    <StackLayout row="1" horizontalAlignment="center" android:class="m-b-15">
                        <Label text="View all leave history" textWrap="true" class="h3 m-20"
                            (tap)="gotoLeaveHistory()"></Label>
                    </StackLayout>

                </GridLayout>


            </GridLayout>
        </StackLayout>

    </GridLayout>
</FlexboxLayout>