<GridLayout rows="auto, auto" columns="auto ,*,1*" class="m-15">
    <Label text="&#xf073;" fontSize="15" class="far" row="0" col="0"></Label>
    <Label [text]="dateLabel" fontSize="17" class="m-l-10" textWrap="true" row="0" col="1"
        (tap)="openDatepicker()"></Label>
    <ios>
        <Label text="&#xf00d;" class="far btn-removable m-r-10" row="0" col="2" horizontalAlignment="right"
            (tap)="dateClear()" *ngIf="dateValue"></Label>
    </ios>
    <android>
        <Image src="font://&#xf00d;" stretch="none" class="fas btn-removable m-r-10" row="0" col="2"
            horizontalAlignment="right" (tap)="dateClear()" *ngIf="dateValue"></Image>
    </android>
    <StackLayout class="hr" row="1" colSpan="3" height="2"></StackLayout>
</GridLayout>