@import "./date-picker.component.common.scss";

.btn-removable {
    color: #fff;
    font-size: 10;
    width: 16;
    height: 16;
    border-radius: 100;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 4.5;
}
